<main>
    <mat-card class="home mat-elevation-z2">
        <mat-card-title class="title">
            CGL Readers
        </mat-card-title>
        <mat-card-subtitle class="subtitle">
            Welcome to the project
        </mat-card-subtitle>
        <mat-card-content>
            <img src="assets/images/open-book.png" alt="logo" class="logo" />
            <p> This project is a place for readers, created with angular framework.
                <br/>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin porttitor lorem mauris, eget placerat libero dictum eget. Phasellus non erat lectus. In convallis, orci eu rutrum scelerisque, orci erat condimentum magna, vel rutrum quam ante tempus augue. Mauris scelerisque molestie gravida. Nullam dignissim dapibus nisl tincidunt posuere. Phasellus purus eros, maximus vitae nisl vitae, sollicitudin venenatis felis. Nunc pulvinar posuere sagittis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Mauris risus ex, ornare eget mi sit amet, feugiat convallis lectus.
            </p>
        </mat-card-content>
    </mat-card>
    
    <section id="features">
        <mat-card class="card">
            <mat-card-content>
                <img src="assets/images/write.png" alt="write" id="write" class="imgCard">
            </mat-card-content>
            <mat-card-title class="cardTitle">
                Exponha seus pensamentos
            </mat-card-title>
        </mat-card>
        <mat-card class="card">
            <mat-card-content>
                <img src="assets/images/fav.png" alt="favorite" id="favorite" class="imgCard">
            </mat-card-content>
            <mat-card-title class="cardTitle">
                Classifique-os
            </mat-card-title>
        </mat-card>
        <mat-card class="card">
            <mat-card-content>
                <img src="assets/images/read.png" alt="read" id="read" class="imgCard">
            </mat-card-content>
            <mat-card-title class="cardTitle">
                Leia livros
            </mat-card-title>
        </mat-card>
    </section>
</main>